@using MaximaMachineriesInc;
@model IEnumerable<MaximaMachineriesInc.Models.RFS>
@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Request Entry Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Table.css">
   
      
</head>
<body>
    <main id="main">
        <h2>@GlobalVar.DispName</h2>
        <div style="float:right;">
            <a> <input list="brow" placeholder="Search.." style="width:1200px;"></a>
            <button style="font-size:16px; color: green;" onclick="location.href='@Url.Action("EntryForm","RFS")'"><i class="fa fa-plus"></i></button>
        </div>
        <table style="text-align:center; border-color:black;" class="table table-hover table-bordered">
            <thead style="background-color: darkblue; font-size:10px; color: white;">
                <tr>
                    <th>Reference Date</th>
                    <th>Reference</th>
                    <th>Print</th>
                    <th>Update</th>
                    <th>Assign PIC</th>
                    <th>Approved</th>
                    <th>Cancel</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var View in Model)
                    {
                        <tr>
                            <td>@View.ReferenceDate</td>
                            <td>@View.Reference</td>
                            <td><i class="fa fa-print"></i></td>
                            <td><i class="fa fa-rotate-right" style="color:green"></i></td>
                            <td><i class="fa fa-upload" style="color:orange"></i></td>
                            <td><i class="fa fa-check" style="color:green"></i> </td>
                            <td><i class="fa fa-close" style="color:Red"></i> </td>
                            <td><i class="fa fa-edit" style="color:blue "></i></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td><div>No Reimbursement form!</div></td>

                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>

</html>